<ion-header class="ion-no-border" [translucent]="true">
  <ion-toolbar mode="md">
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon slot="icon-only" name="menu-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button class="search-btn">
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only" name="notifications-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <strong> <h1 class="main_title">Muy pronto.</h1> </strong>
      <h3> No disponible momentáneamente. </h3>
      <ion-icon name="construct-outline"></ion-icon>
  </div>
</ion-content>
