<div class="item animated" [id]="'item_'+item?.id">
  <div class="task_container form-check">
    <input class="form-check-input" type="checkbox" value="" [id]="item?.id" [checked]="item?.status === 'COMPLETED'"
      (click)="activeDoneEvent()">
    <label class="form-check-label" [for]="item?.id" (click)="onLabelClick($event)">
      <p class="ellipsis" [ngClass]="{'strikethrough': item?.status === 'COMPLETED'}">
        {{item.title}}
      </p>
    </label>
    <ion-icon class="icon_close" name="close-outline" (click)="onDeleteClick($event)"></ion-icon>
  </div>
</div>
<!-- <div class="checkbox-wrapper-11 item form-check" [id]="'item_'+item?.homework_id">
  <input class="form-check-input" type="checkbox" value="" [id]="id" [checked]="item?.status" (click)="activeDoneEvent()">
  <label [for]="id" (click)="onLabelClick($event)"> {{title}}</label>

</div> -->
