<div class="item animated" [id]="'item_'+item?.id">
  <div *ngIf="!isTeacher" class="task_container form-check">
    <input class="form-check-input" type="checkbox" value="" [id]="item?.id" [checked]="item?.status === 'COMPLETED'"
      (click)="activeDoneEvent()">
    <label class="form-check-label" [for]="item?.id" (click)="onLabelClick($event)">
      <p class="ellipsis" [ngClass]="{'strikethrough': item?.status === 'COMPLETED'}">
        {{item.title}}
      </p>
    </label>
  </div>

  <div *ngIf="isTeacher" class="task_container">
    <ion-label class="teacher_view">
      <p class="ellipsis" (click)="onLabelClick($event)">
        {{item.title}}
      </p>
      <ion-icon class="icon_close" name="close-outline" (click)="onDeleteClick($event)"></ion-icon>
    </ion-label>
  </div>
</div>
