<ion-header class="ion-no-border" [translucent]="true">
  <ion-toolbar mode="md">
    <ion-buttons slot="start">
      <ion-menu-button class="menu-btn"></ion-menu-button>
    </ion-buttons>
    <ion-label> Tareas </ion-label>
    <ion-buttons slot="end">
      <ion-button class="search-btn">
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only" name="notifications-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <app-homeworks-details *ngIf="showDetails" (closeEmit)="handleHomeworkWindow(false)"></app-homeworks-details> -->
  <div id="container">
    <ion-label style="margin: 0 3vh;">Bienvenido {{letterService.toUpperAndLowerCase(letterService.shortNamesFunc(user.username))}} </ion-label>
    <section class="main_section">
      <ion-title class="main_title"> <strong>José Martí <br> Web!</strong> </ion-title>
      <div class="logo_section">
        <div class="high_school_badge bg_image"></div>
        <ion-label *ngIf="user?.school_year" class="high_school_info">{{user?.school_year}} año</ion-label>
        <ion-label *ngIf="user?.section" class="high_school_info">Sección "{{user?.section}}"</ion-label>
      </div>
    </section>
    <span *ngIf="homeworkSlide.length && !isTeacher" class="sub-header">POR ENTREGAR ESTA SEMANA:</span>

    <!-- homeworks -->
    <swiper-container class="animated" *ngIf="!showSlideSpinner && !showMsgeSwiper && homeworkSlide.length && !isTeacher" pager="false" space-between="1" slides-per-view="1.4"
      [ngClass]="{'fadeInUp': !showSlideSpinner, 'fadeOut': showSlideSpinner}" #homeworkSwiper>
      <swiper-slide class="categories" *ngFor="let homework of homeworkSlide; index as i;">
        <div class="categories-buttons business">
          <p class="school_subject text_ellipsis">Inglés</p>
          <span class="categories-name"> {{homework?.title}} </span>
          <p class="homework_description">
            {{homework?.description}}
          </p>
          <span class="row_container">
            <div class="column">
              {{formatShortDate(homework?.start_date)}}
            </div>
              -
            <div class="column">
              {{formatShortDate(homework?.end_date)}}
            </div>
          </span>
        </div>
      </swiper-slide>
    </swiper-container>

    <div *ngIf="showMsgeSwiper" class="info_message_contain">
      <ion-label class="text_info">
         <ion-icon class="icon-sucess" name="checkmark-circle-outline"></ion-icon>
         {{homeworksSwipMessage}}
        </ion-label>
    </div>

    <div *ngIf="showSlideSpinner" class="spinner_container">
      <ion-spinner name="crescent" color="primary"></ion-spinner>
    </div>

    <span class="todays-header">{{isTeacher ? 'TAREAS DE LOS ESTUDIANTES' : 'TAREAS PENDIENTES'}}</span>
    <div class="task-list">
      <!-- This is where the tasks will go -->
      <app-homework *ngFor="let homework of homeworkList;let i=index;trackBy: trackByItems"
       [item]="homework" [user]="user" (updateEmit)="getHomeworksList()" (showModalEmit)="handleHomeworkWindow(true, $event)"
       (deleteEmit)="deleteHomework($event)"></app-homework>

      <ion-label *ngIf="!homeworkList.length" class="text_info_style">
        No hay Tareas
      </ion-label>
        <ion-button *ngIf="isTeacher" id="trigger-button" mode="ios">
          <ion-icon name="add"></ion-icon>
        </ion-button>

      <ion-modal *ngIf="isTeacher" mode="ios" trigger="trigger-button" [isOpen]="false" [breakpoints]="[0.1, 0.5, 1]"
        [initialBreakpoint]="1">
        <ng-template>
          <app-new-homework (homeworkEmit)="addHomework($event)"></app-new-homework>
        </ng-template>
      </ion-modal>
    </div>
  </div>
</ion-content>
