<ion-header class="ion-no-border" [translucent]="true">
  <ion-toolbar mode="md">
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon slot="icon-only" name="menu-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button class="search-btn">
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only" name="notifications-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <app-homeworks-details *ngIf="showDetails" (closeEmit)="handleHomeworkWindow(false)"></app-homeworks-details> -->
  <div id="container">
    <section class="main_section">
      <ion-title class="main_title"> <strong>José Martí <br> Web!</strong> </ion-title>
      <div class="logo_section">
        <div class="high_school_badge bg_image"></div>
        <ion-label class="high_school_info">4to año</ion-label>
        <ion-label class="high_school_info">Sección "A"</ion-label>
      </div>
    </section>
    <span class="sub-header">POR ENTREGAR ESTA SEMANA:</span>

    <!-- homeworks -->
    <swiper-container class="animated" *ngIf="!showSlideSpinner && !showMsgeSwiper" pager="false" space-between="1" slides-per-view="1.4"
      [ngClass]="{'fadeInUp': !showSlideSpinner, 'fadeOut': showSlideSpinner}" #homeworkSwiper>
      <swiper-slide class="categories" *ngFor="let homework of homeworkSlide; index as i;">
        <div class="categories-buttons business">
          <p class="school_subject text_ellipsis">{{filterSchoolSubject(homework)}}</p>
          <span class="categories-name"> {{homework?.homework_title}} </span>
          <p class="homework_description">
            {{homework?.homework_description}}
          </p>
          <span class="row_container">
            <div class="column">
              {{formatShortDate(homework?.homework_start_date)}}
            </div>
              -
            <div class="column">
              {{formatShortDate(homework?.homework_end_date)}}
            </div>
          </span>
        </div>
      </swiper-slide>
    </swiper-container>

    <div *ngIf="showMsgeSwiper" class="info_message_contain">
      <ion-label class="text_info">
         <ion-icon class="icon-sucess" name="checkmark-circle-outline"></ion-icon>
         {{homeworksSwipMessage}}
        </ion-label>
    </div>

    <div *ngIf="showSlideSpinner" class="spinner_container">
      <ion-spinner name="crescent" color="primary"></ion-spinner>
    </div>

    <span class="todays-header">TAREAS PENDIENTES</span>
    <div class="task-list">
      <!-- This is where the tasks will go -->
      <app-homework *ngFor="let homework of homeworkList" [title]="homework?.homework_title"
         [item]="homework" (updateEmit)="getHomeworksList()"
        (showModalEmit)="handleHomeworkWindow(true, $event)" (deleteEmit)="deleteHomework($event)"></app-homework>
        <ion-button id="trigger-button" mode="ios">
          <ion-icon name="add"></ion-icon>
        </ion-button>

      <ion-modal mode="ios" trigger="trigger-button" [isOpen]="false" [breakpoints]="[0.1, 0.5, 1]"
        [initialBreakpoint]="1">
        <ng-template>
          <app-new-homework (homeworkEmit)="addHomework($event)"></app-new-homework>
        </ng-template>
      </ion-modal>
    </div>
  </div>
</ion-content>
