ion-toolbar {
  --background: var(--ion-background-color, --td-bg);
  padding: 1rem 0.3rem;
  padding-bottom: 0;

  ion-icon,
  i {
    font-weight: lighter;
    color: var(--ion-secondary-text-color);
    font-size: 1.66rem;
  }

  ion-button.search-btn {
    margin-right: 0.2rem;
  }
}

ion-content {
  --background: var(--ion-background-color, --td-bg);
}

#container {
  padding: 3rem 0rem;
  padding-top: 1.5vh;

  .main_section {
    display: flex;
    padding: 0 4%;
    .main_title {
      strong {
        font-size: xx-large;
        padding: 0;
        letter-spacing: 0.5px;
      }
    }
    .logo_section {
      display: flex;
      flex-direction: column;
      width: 50%;
      align-items: end;
      .high_school_badge {
        width: 90px;
        height: 90px;
        border-radius: 50%;
        margin-bottom: 10px;
        background-image: url('../../../assets//img/jose_marti_logo.jpg');
      }
      .high_school_info {
        font-size: 14px;
        // color: #ffffffd4
        opacity: .6;
      }
    }
  }
}

.sub-header,
.todays-header {
  text-transform: uppercase;
  display: block;
  margin-left: 1.2rem;
  margin-top: 4vh;
  font-size: small;
  letter-spacing: 0.5px;
  color: var(--ion-secondary-text-color);
}

.todays-header {
  margin-top: 2vh;
  margin-bottom: 3vh;
}

.categories {
  &-name {
    color: var(--color);
    font-size: large;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &-buttons {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 1.8rem 1.5rem;
    padding-bottom: 1.1rem;
    margin: 1rem;
    margin-bottom: 1.4rem;
    margin-right: 0;
    border-radius: 1.4rem;
    font-size: larger;
    color: var(--ion-color-secondary-contrast);
    background-color: var(--ion-card-background);
    text-align: left;
    box-shadow: var(--ion-card-box-shadow);

    ion-icon,
    .bx-envelope {
      font-size: xx-large;
    }

    ion-progress-bar {
      margin-top: 0.6rem;
      --background: var(--ion-progressbar);
    }

    .task-count {
      color: var(--ion-secondary-text-color);
      font-size: small;
    }

    span {
      margin-bottom: 0.7rem;
    }
  }
}

.business {
  ion-progress-bar {
    --progress-background: var(--td-magenta);
  }
}

.personal {
  ion-progress-bar {
    --progress-background: var(--td-blue);
  }
}

.task-list {
  margin-top: 1rem;
  padding: 0 1.2rem;
}

ion-button#trigger-button {
  bottom: 2%;
  right: 3% !important;
  position: fixed;
  --border-radius: 40px;
  font-size: 17px;
  width: 60px;
  height: 60px;
}

ion-fab#trigger-button {
  position: sticky;
  bottom: 2%;
  display: flex;
  justify-content: end;
}
.row_container {
  display: flex;
  font-size: 13px;
  color: var(--ion-secondary-text-color);
  justify-content: space-between;
}
.homework_description {
  color: var(--ion-secondary-text-color);
  font-size: 14px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.spinner_container {
  height: 223px;
  display: grid;
  place-content: center;
}
.color_primary {
  color: var(--ion-color-primary);
}
.text_color_secondary {
  color: var(--ion-secondary-text-color);
}
.school_subject {
  font-size: 16px;
  font-weight: 100;
  color: var(--ion-color-secondary);
}
.text_ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.info_message_contain {
  height: 160px;
  padding: 2rem;
  display: grid;
  place-content: center;
  .text_info {
    display: flex;
    align-items: center;
    font-size: large;
    color: var(--ion-secondary-text-color);
    width: 100%;
    margin: auto;
    .icon {
      &-sucess {
        font-size: 39px;
        margin-right: 20px;
        color: lightgreen;
      }
    }
  }
}
